<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
			<property name="url">
			<value>jdbc:mysql://10.176.36.129:3306/casedb</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value>Aa123456</value>
		</property>
	</bean>
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">com.lenovo.ittools.ctd.common.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="format_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
			   <value>com/lenovo/ittools/ctd/bean/common/User.hbm.xml</value>
			   
			   <value>com/lenovo/ittools/ctd/bean/testcase/CaseLanMap.hbm.xml</value>
			   <value>com/lenovo/ittools/ctd/bean/testcase/TestCaseBrand.hbm.xml</value>
			   <value>com/lenovo/ittools/ctd/bean/testcase/PictureBean.hbm.xml</value>
			   <value>com/lenovo/ittools/ctd/bean/testcase/TestCaseFunction.hbm.xml</value>
			   <value>com/lenovo/ittools/ctd/bean/testcase/TestCaseInfo.hbm.xml</value>
			   <value>com/lenovo/ittools/ctd/bean/testcase/TestCase.hbm.xml</value>
			   <value>com/lenovo/ittools/ctd/bean/testcase/TestCaseSupportOs.hbm.xml</value>
			   <value>com/lenovo/ittools/ctd/bean/testcase/TestCaseTestMode.hbm.xml</value>
			   <value>com/lenovo/ittools/ctd/bean/testcase/LanguagesBean.hbm.xml</value>
			   <value>com/lenovo/ittools/ctd/bean/testcase/TestCaseContent.hbm.xml</value>
			   <value>com/lenovo/ittools/ctd/bean/testcase/SearchTestCase.hbm.xml</value>     
			   <value>com/lenovo/ittools/ctd/bean/testcase/CTDCaseLanMap.hbm.xml</value>    
			   <value>com/lenovo/ittools/ctd/bean/testcase/TestCaseHistory.hbm.xml</value>   
			   <!-- =================================TestPlan====================================== -->
			   <value>com/lenovo/ittools/ctd/bean/testplan/TestPlanBean.hbm.xml</value>
			   <value>com/lenovo/ittools/ctd/bean/testplan/TestPlanContent.hbm.xml</value>
			    <!-- =================================TestTool====================================== -->
			    <value>com/lenovo/ittools/ctd/bean/common/TestToolBean.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- ==============DAO================= -->
    	<bean id="userDAO" class="com.lenovo.ittools.ctd.dao.common.impl.UserDAOImpl" scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	  <bean id="testcaseDAO" class="com.lenovo.ittools.ctd.dao.testcase.impl.TestCaseDAOImpl" scope="singleton">
		  <property name="sessionFactory">
				<ref bean="sessionFactory" />
			</property>
	  </bean>
	    <bean id="searchCaseDAO" class="com.lenovo.ittools.ctd.dao.testcase.impl.SearchCaseDAOImpl" scope="singleton">
		  <property name="sessionFactory">
				<ref bean="sessionFactory" />
			</property>
	  </bean>
	  <bean id="testPlanDAO" class="com.lenovo.ittools.ctd.dao.testplan.impl.TestPlanDAOImpl" scope="singleton">
	  		<property name="sessionFactory">
				<ref bean="sessionFactory" />
			</property>
	  </bean>
	  <bean id="testToolDAO" class="com.lenovo.ittools.ctd.dao.common.impl.TestToolDAOImpl" scope="singleton">
	  		<property name="sessionFactory">
				<ref bean="sessionFactory" />
			</property>
	  </bean>
	<!-- ==============Service============= -->
		<bean id="userService" class="com.lenovo.ittools.ctd.service.common.impl.UserServiceImpl" scope="singleton">
		<property name="userDAO" ref="userDAO"></property>
	</bean>
		<bean id="testcaseService" class="com.lenovo.ittools.ctd.service.testcase.impl.TestServiceImpl" scope="singleton">
			<property name="tcDAO" ref="testcaseDAO"></property>
		</bean>
		<bean id="searchCaseService" class="com.lenovo.ittools.ctd.service.testcase.impl.SearchCaseServiceImpl" scope="singleton">
			<property name="searchCaseDAO" ref="searchCaseDAO"></property>
		</bean>
		<bean id="testPlanService" class="com.lenovo.ittools.ctd.service.testplan.impl.TestPlanServiceImpl" scope="singleton">
			<property name="testPlanDAO" ref="testPlanDAO"></property>
		</bean>
		<bean id="testToolService" class="com.lenovo.ittools.ctd.service.common.impl.TestToolServiceImpl" scope="singleton">
			<property name="testToolDAO" ref="testToolDAO"></property>
		</bean>
   <!-- ==============Action============== -->
	<bean id="loginAction" class="com.lenovo.ittools.ctd.action.common.LoginAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="logoutAction" class="com.lenovo.ittools.ctd.action.common.LogoutAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="registerAction" class="com.lenovo.ittools.ctd.action.common.Register" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="SearchRole" class="com.lenovo.ittools.ctd.action.common.SearchUserRole" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="EditRole" class="com.lenovo.ittools.ctd.action.common.EditUserRole" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="UpdateRole" class="com.lenovo.ittools.ctd.action.common.UpdateUserRole" scope="prototype">
	   <property name="userService" ref="userService"></property>
	</bean>
	<bean id="Home" class="com.lenovo.ittools.ctd.action.common.PreHome" scope="prototype">
	  <property name="userService" ref="userService"></property>
	</bean>
	<bean id="pressHome" class="com.lenovo.ittools.ctd.action.testcase.PressTestCaseHome" scope="prototype">
	  <property name="tcService"	ref="testcaseService"></property>
	</bean>
	<bean id="StepOne" class="com.lenovo.ittools.ctd.action.testcase.PressTestCaseHome" scope="prototype">
	  <property name="tcService"	ref="testcaseService"></property>
	</bean>
	<bean id="SaveStepOne" class="com.lenovo.ittools.ctd.action.testcase.SaveStepOne" scope="prototype">
	 <property name="tcService"	ref="testcaseService"></property>
	</bean>
	<bean id="SaveStepTwo" class="com.lenovo.ittools.ctd.action.testcase.SaveStepTwo" scope="prototype">
		 <property name="tcService"	ref="testcaseService"></property>
	</bean>
	<bean id="SaveFinal" class="com.lenovo.ittools.ctd.action.testcase.SaveStepFinal" scope="prototype">
	 	<property name="tcService"	ref="testcaseService"></property>
	</bean>
	<bean id="SearchCase" class="com.lenovo.ittools.ctd.action.testcase.SearchTestCase" scope="prototype">
		<property name="scaseService" ref="searchCaseService"></property>
	
	</bean>
	<bean id="ShowTestCaseDetail" class="com.lenovo.ittools.ctd.action.testcase.ShowTestCaseDetail" scope="prototype">
		<property name="tcService"	ref="testcaseService"></property>
			<property name="testPlanService" ref="testPlanService"></property>
	</bean>
	<bean id="ShowPicture" class="com.lenovo.ittools.ctd.action.testcase.ShowPictureForAjax" scope="prototype">
		<property name="tcService"	ref="testcaseService"></property>
	</bean>
	<bean id="EditCaseStepOne" class="com.lenovo.ittools.ctd.action.testcase.EditCaseStepOne" scope="prototype">
		<property name="tcService"	ref="testcaseService"></property>
	</bean>
	<bean id="UpdateCaseStepone" class="com.lenovo.ittools.ctd.action.testcase.UpdateCaseStepOne" scope="prototype">
			<property name="tcService"	ref="testcaseService"></property>
	</bean>
	<bean id="UpdateCaseStepTwo" class="com.lenovo.ittools.ctd.action.testcase.UpdateCaseStepTwo" scope="prototype">
	<property name="tcService"	ref="testcaseService"></property>
	</bean>
	<bean id="UpdateCaseStepFinal" class="com.lenovo.ittools.ctd.action.testcase.UpdateCaseStepFinal" scope="prototype">
		<property name="tcService"	ref="testcaseService"></property>	
	</bean>
	<bean id="DeleteCase" class="com.lenovo.ittools.ctd.action.testcase.DeleteTestCase" scope="prototype">
		<property name="tcService"	ref="testcaseService"></property>			
	</bean>
	<bean id="DeletePhoto" class="com.lenovo.ittools.ctd.action.testcase.HideTestCasePictureAction" scope="prototype"	>
	   	<property name="tcService"	ref="testcaseService"></property>		
	</bean>

	<!-- ========================================TestPlan Action======================================================= -->
	<bean id="TestPlanHome" class="com.lenovo.ittools.ctd.action.testplan.TestPlanHome" scope="prototype">
	</bean>
	<bean id="preTestPlan" class="com.lenovo.ittools.ctd.action.testplan.PreCreateTestPlan" scope="prototype">
		<property name="tcService"	ref="testcaseService"></property>
	</bean>	
	<bean id="SearchTestCaseForPlan" class="com.lenovo.ittools.ctd.action.testplan.SearchCaseForTestPlan" scope="prototype">
		<property name="scaseService" ref="searchCaseService"></property>
		<property name="testPlanService" ref="testPlanService"></property>
		<property name="tcService"	ref="testcaseService"></property>
	</bean>
	<bean id="SaveContentToNewPlan" class="com.lenovo.ittools.ctd.action.testplan.SaveContentToNewTestPlan" scope="prototype">
		<property name="testPlanService" ref="testPlanService"></property>
	</bean>
	<bean id="ShowTestPlan" class="com.lenovo.ittools.ctd.action.testplan.ShowTestPlan" scope="prototype">
		<property name="scService" ref="searchCaseService"></property>
		<property name="testPlanService" ref="testPlanService"></property>
		<property name="tcService"	ref="testcaseService"></property>
	</bean>
	<bean id="SearchForPlan" class="com.lenovo.ittools.ctd.action.testplan.SearchTestPlan" scope="prototype">
		<property name="testPlanService" ref="testPlanService"></property>
	</bean>
	<bean id="SaveTestPlanAction" class="com.lenovo.ittools.ctd.action.testplan.SaveTestPlanAction" scope="prototype">
		<property name="testPlanService" ref="testPlanService"></property>
	</bean>
	<bean id="EditTestPlan" class="com.lenovo.ittools.ctd.action.testplan.EditTestPlan" scope="prototype">
		<property name="testPlanService" ref="testPlanService"></property>
		<property name="scService" ref="searchCaseService"></property>
	</bean>
	<bean id="UpdateTestPlan" class="com.lenovo.ittools.ctd.action.testplan.UpdateTestPlan" scope="prototype">
			<property name="testPlanService" ref="testPlanService"></property>
	</bean>
	<bean id="SaveContentToOlderTestPlan" class="com.lenovo.ittools.ctd.action.testplan.SaveContentToOlderTestPlan" scope="prototype">
		<property name="testPlanService" ref="testPlanService"></property>
	</bean>
	<bean id="DeleteTestPlan" class="com.lenovo.ittools.ctd.action.testplan.DeleteTestPlan" scope="prototype">
	   <property name="testPlanService" ref="testPlanService"></property>
	</bean>
	<!-- ========================================TestTool Action======================================================= -->
	<bean id="preSaveFile" class="com.lenovo.ittools.ctd.action.common.PreUploadFileAction" scope="prototype">
		<property name="testToolService" ref="testToolService"></property>
	</bean>
	<bean id="uploadFile" class="com.lenovo.ittools.ctd.action.common.UploadFileToServer" scope="prototype">
	   	<property name="testToolService" ref="testToolService"></property>
	</bean>
	<bean id="SearchToolForPage" class="com.lenovo.ittools.ctd.action.common.SearchToolForPage" scope="prototype">
	   	<property name="testToolService" ref="testToolService"></property>
	</bean>
	<bean id="ShowToolDetail" class="com.lenovo.ittools.ctd.action.common.ShowToolDetail" scope="prototype">
	 	<property name="testToolService" ref="testToolService"></property>
	</bean>
	<bean id="downloadFile" class="com.lenovo.ittools.ctd.action.common.DownloadFileAction" scope="prototype">
		<property name="testToolService" ref="testToolService"></property>
	</bean>
	<bean id="preUploadFile" class="com.lenovo.ittools.ctd.action.common.PreUploadFile" scope="prototype">
		<property name="testToolService" ref="testToolService"></property>
	</bean>

</beans>